extends ../layouts/main-layout.pug

include ../mixins/createProduct.pug

block content

    ul#messages
        form#form(action='')
            input#input(autocomplete='off')
            button Kaydet


                    

                        

                
                    


